{% extends "forum/base.html" %}
{% block content %}
<h5>Click on Home in the Navigation Bar to see the updates of all trains arriving to this station</h5>
<article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ object.date_posted | date:"F d, Y H:i:s" }}</small>
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}"><font color=green>{{ post.train_no }}</font> arriving at Platform <font color=red>{{ post.platform_no }}</font> </a></h2>
            <h4 class="article-content"><font color=DARKGRAY>{{ post.content }}</font></h4>
            <h4 class="article-content">Expected Arrival : <font color=SLATEBLUE>{{ post.expected_arrival }} hrs</font></h4>
        </div>
    </article>
{% endblock content %}
